//* !=== Features Section ===! */
.features__list {
    display: flex;
    margin: 0;
    margin-left: -1 * $set-gap;
    margin-top: -1 * $set-gap;
}

.features__item {
    flex-basis: calc(100% / 4 - #{$set-gap});
    margin-left: $set-gap;
    margin-top: $set-gap;
    color: $primary-black;
}

.features__icon {
    padding: 20px 100px;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: $secondary-background;
}

.features__list .list-title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 10px 0;
}

p.features__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: $primary-text-color;
}