//* !=== Team Section ===! */
.section.team {
    background-color: $secondary-background;
}

.team__list {
    display: flex;
    flex-direction: column;
    @include flexCenter;
    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 50px;
        margin-left: calc(-1 * #{$set-gap});
    }
}

.team__item {
    margin-top: 30px;
    background-color: $primary-white;
    // flex-basis: calc(100% / 4 - #{$set-gap});
    // margin-left: $set-gap;
    // margin-top: $set-gap;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: $team-box-shadow;
    @media screen and (min-width: $tablet) {
        flex-basis: calc(100% / 2 - #{$set-gap});
        margin-left: #{$set-gap};
    }
    @media screen and (min-width: $desktop) {
        flex-basis: calc(100% / 4 - #{$set-gap});
        margin-left: #{$set-gap};
    }
}

.team__thumb {
    max-height: 622px;
    & img {
        width: 100%;
        max-height: 460px;
        object-fit: cover;
        object-position: 50% 50%;
    }
    @media screen and (min-width: $tablet) {
        & img {
            width: 100%;
            max-height: 374px;
        }
    }
    @media screen and (min-width: $desktop) {
        & img {
            width: 100%;
            max-height: 260px;
        }
    }
}

.team__name {
    color: $title-text-color;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 10px;
}

.team__prof {
    margin-bottom: 16px;
}