//* !=== PRIMARY BUTTON ===! */
.btn-primary {
    background-color: $accent-color;
    color: $primary-white;
    min-width: 200px;
    width: fit-content;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    text-align: center;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    transition: $transition-dur $cubic-bezier;
    &:hover,
    &:focus {
        background-color: $primary-btn-accent;
    }
    &:focus {
        box-shadow: 0px 0px 0px 3px $primary-btn-accent;
    }
    &:hover {
        box-shadow: none;
    }
    &:hover .backdrop,
    &:focus .backdrop {
        transform: translateX(100%);
    }
}