/* Site Navigation */

.nav {
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-around;
        // align-items: center;
    }
}


/* Navigation list */

.nav__list {
    display: none;
    // margin-left: 93px;
    @media (min-width: $tablet) {
        display: flex;
    }
}

.nav__item:not(:first-child) {
    margin-left: 50px;
}

.nav__link {
    position: relative;
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
    color: $title-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    transition: $transition-dur $cubic-bezier;
    /*  */
    &:hover,
    &:focus {
        color: $accent-color;
    }
    /* underline */
    &::after {
        display: block;
        position: absolute;
        top: 105%;
        content: '';
        height: 4px;
        width: 100%;
        background-color: $accent-color;
        border-radius: 2px;
        transform: scaleX(0);
        transition: $transition-dur transform ease-in-out;
    }
    &:hover::after,
    &:focus::after {
        transform: scaleX(1);
    }
}

.nav__link.current {
    color: $accent-color;
    /* underline */
    &::after {
        display: block;
        content: '';
        height: 4px;
        width: 100%;
        background-color: $accent-color;
        border-radius: 2px;
        transform: scaleX(1);
    }
}