.container {
    // display: flex;
    max-width: $cont-width;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
    @media screen and (min-width: $tablet) {
        max-width: 768px;
    }
    @media screen and (min-width: $desktop) {
        max-width: 1200px;
        // display: flex;
    }
}