/* contacts */

.contacts__list {
    display: none;
    @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: auto;
    }
    @media (min-width: 1200px) {
        flex-direction: row;
    }
}

.contacts__item:not(:first-child) {
    @media (min-width: $desktop) {
        margin-left: 50px;
    }
}

.contacts__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $primary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    padding: 5px 0;
    transition: $transition-dur $cubic-bezier;
    /*  */
    &:hover,
    &:focus {
        color: $accent-color;
        transform: scale(1.025);
    }
}

.contacts__icon {
    display: inline-flex;
    height: 16px;
    width: 16px;
    fill: currentColor;
    margin-right: 10px;
}