.container--header {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    // @media screen and (min-width: $tablet) {
    //     & {
    //         display: flex;
    //         padding: 0px 15px;
    //     }
    // }
}

.header-wrapper {
    @media (min-width: 768px) {}
    display: flex;
    justify-content: space-between;
}

.page-header {
    background-color: $primary-white;
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 0.025em solid #ececec;
    box-sizing: border-box;
    @media (min-width: 768px) {
        min-height: 80px;
    }
}