//* LOGO */
.__logo {
    display: block;
    width: fit-content;
    color: $accent-color;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    margin-right: 94px;
    padding: 15px 0;
    @media (min-width: 768px) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.__logo--black {
    color: $title-text-color;
}

.__logo--white {
    color: $primary-white;
    margin-right: 0;
}