//* !=== Social Links ===! */
.social {
    display: flex;
    flex-direction: column;
    // justify-content: center;
}

.social--footer {
    margin-top: 60px;
    text-align: center;
    @media screen and (min-width: $tablet) {
        margin-top: 5px;
    }
    @media screen and (min-width: $desktop) {
        margin-left: 70px;
        text-align: unset;
    }
}

.social__list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.social__link {
    display: inline-flex;
    justify-content: center;
    color: $primary-icon-color;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: $transition-dur $cubic-bezier;
    &:hover,
    &:focus {
        color: $primary-white;
        background-color: $accent-color;
    }
}

.social__item:not(:last-child) {
    margin-right: 10px;
}

.social__item {
    box-shadow: none;
    margin-bottom: 30px;
    &:focus {
        outline: none;
    }
}

.footer .social__item {
    margin-bottom: 0;
}

.social__icon {
    width: 20px;
    height: auto;
    fill: currentColor;
}

.social__link--footer {
    color: $primary-white;
    background-color: rgba(255, 255, 255, 0.1);
    &:hover,
    &:focus {
        background-color: $accent-color;
    }
}