//* !=== FOOTER ===! */
.section.footer {
    background-color: $primary-background;
    padding: 60px 0;
}

.container--footer {
    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    @media screen and (min-width: $desktop) {
        display: flex;
        align-items: baseline;
    }
}

.footer .__logo {
    display: inline-block;
}

.footer__title {
    color: $primary-white;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.172;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}