//* !=== PORTFOLIO CARD OVERLAY ===! */
.overlay {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 1;
    transition: $transition-dur $cubic-bezier;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    .card:hover &,
    .card:focus & {
        opacity: 1;
        transform: translateY(-100%);
    }
}

p.overlay-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $primary-white;
    padding: 50px 24px;
}