// !=== PORTFOLIO ===!

/* !=== CONTAINER ===! */

.portfolio-container {
    // width: $cont-width;
    // margin-left: auto;
    // margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15px;
}

.portfolio.section {
    .portfolio {
        padding: 60px 0;
        @media (min-width: $desktop) {
            padding: 94px 0;
        }
    }
}

.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-left: -1 * $set-gap;
    margin-top: -1 * $set-gap;
}