body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: $primary-black;
    background-color: $primary-white;
    margin: 0;
    padding: 0;
}

h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

button {
    margin: 0;
    padding: 0;
    border: none;
}

button:active,
button:focus {
    outline: none !important;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
li {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
}

.section {
    color: $primary-text-color;
    padding: 94px 0;
}

.section-title,
.title,
.list-title {
    color: $title-text-color;
}

.list-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}


/* !=== SECTION ===! */

.section-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.172;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}

.section p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}