$primary-text-color: #757575;
$color-lightgrey: rgba(255, 255, 255, 0.6);
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-btn-accent: #188ce8;
$primary-black: #212121;
$primary-white: #ffffff;
$primary-background: #2f303a;
$primary-background-opacity40: rgba(47, 48, 58, 0.4);
$secondary-background: #f5f4fa;
$primary-icon-color: #afb1b8;
$modal-form-color: rgba(33, 33, 33, 0.2);
$cont-width: 1200px;
$set-gap: 30px;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$transition-dur: 250ms;