//* MODAL FORM CHECKBOX */
.modal-formfield.checkbox {
    justify-content: space-between;
}

.modal-label.checkbox {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: $set-gap;
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: $primary-text-color;
    @media (min-width: $desktop) {
        font-size: 14px;
        line-height: 1.714;
    }
}

.modal-checkbox__input {
    position: absolute;
    // margin-right: 10px;
}

.checkbox__link {
    margin-left: 5px;
    color: $accent-color;
    text-decoration: underline;
    &:focus {
        outline: none;
        box-shadow: 0px 0px 0px 3px $primary-btn-accent;
        border-radius: 2px;
    }
    &:hover {
        box-shadow: none;
    }
}

.checkbox__icon {
    // position: absolute;
    // right: 100%;
    // top: 0;
    // transform: translateY(1px);
    display: block;
    width: 16px;
    height: 15px;
    border: 2px solid $primary-black;
    border-radius: 2px;
    margin-right: 7px;
    color: $primary-white;
    fill: currentColor;
    // background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.222 1.667v11.666H1.778V1.667h12.444zm0-1.667H1.778C.8 0 0 .75 0 1.667v11.666C0 14.25.8 15 1.778 15h12.444C15.2 15 16 14.25 16 13.333V1.667C16 .75 15.2 0 14.222 0z' fill='%23212121'/%3E%3C/svg%3E");
    .modal-checkbox__input:focus+& {
        // box-shadow: 0px 0px 0px 3px $primary-btn-accent;
        border-color: $accent-color;
    }
    .modal-checkbox__input:hover+& {
        box-shadow: none;
    }
}

.modal-checkbox__input:checked+.checkbox__icon {
    border: 0px solid transparent;
    color: $accent-color;
    // background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.957 7.752l-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422z' fill='%23fff' stroke='%23fff' stroke-width='.2'/%3E%3C/svg%3E");
}