//* MODAL FORM CHECKBOX */
.modal-formfield.checkbox {
    justify-content: space-between;
}

.modal-label.checkbox {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: $set-gap;
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: $primary-text-color;
    @media (min-width: $desktop) {
        font-size: 14px;
        line-height: 1.714;
    }
}

.modal-checkbox__input {
    position: absolute;
    // margin-right: 10px;
}

.checkbox__link {
    margin-left: 5px;
    color: $accent-color;
    text-decoration: underline;
    &:focus {
        outline: none;
        box-shadow: 0px 0px 0px 3px $primary-btn-accent;
        border-radius: 2px;
    }
    &:hover {
        box-shadow: none;
    }
}

.checkbox__icon {
    display: block;
    width: 16px;
    height: 15px;
    border: 2px solid $primary-black;
    border-radius: 2px;
    margin-right: 7px;
    color: $primary-white;
    fill: currentColor;
    .modal-checkbox__input:focus+& {
        border-color: $accent-color;
    }
    .modal-checkbox__input:hover+& {
        box-shadow: none;
    }
    .modal-checkbox__input:checked+& {
        border: 0px solid transparent;
        color: $accent-color;
    }
}