//* MODAL FORM INPUT  */
.modal__input {
    height: 40px;
    transition: color $transition-dur $cubic-bezier;
    padding: 10px 16px;
    padding-left: 42px;
    border: 1px solid $modal-form-color;
    border-radius: 4px;
    &:focus {
        outline: none;
        border-color: $accent-color;
        color: $accent-color;
    }
    &:focus+.modal__icon {
        color: $accent-color;
    }
}

.modal__textarea {
    height: 120px;
    transition: color $transition-dur $cubic-bezier;
    padding: 10px 16px;
    border: 1px solid $modal-form-color;
    border-radius: 4px;
    resize: none;
    &:focus {
        outline: none;
        border-color: $accent-color;
        color: $accent-color;
    }
    &:hover {
        box-shadow: none;
    }
}

.modal-label {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: $title-text-color;
}

.modal-label__name {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.01em;
    color: $primary-text-color;
}

svg.modal__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-10%);
    fill: currentColor;
}