.button-close__icon {
    display: flex;
    justify-content: center;
    fill: currentColor;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: $transition-dur $cubic-bezier;
    transition: $transition-dur $cubic-bezier;
    transform: rotate(0deg);
    transform: scale(1);
    &:hover {
        color: $accent-color;
        cursor: pointer;
        transform: scale(1.1);
    }
    &:active {
        transform: rotate(90deg);
    }
}

.modal__button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: currentColor;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    &:focus {
        box-shadow: 0px 0px 0px 3px $primary-btn-accent;
    }
    &:hover+.button-close__icon {
        box-shadow: none;
        transform: rotateX(90);
    }
    &:active {
        color: $accent-color;
    }
}

.button-close__icon {}

.button-close__icon:focus {
    fill: currentColor;
}